<%- include("./partials/header.ejs") %>

<% if(locals.postData&&locals.key){%>
    <h1><%=postData[key].postTitle %></h1>

<h2> By - <%= postData[key].Author %> </h2>


<p> <%= postData[key].PostContent %> </p> %>

<% }else{ %>

<form action="/post?key=<%= data.key %>" method="POST">
    <label for="post password">Enter your post password</label>
    <input type="password" name="password" >
    <input type="submit" value="Enter">

    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

</form>
<% } %>

<%- include("./partials/footer.ejs") %>
