<%- include("./partials/header.ejs") %>

<h1 style="text-align: center;">Select the post to be updated.</h1>
    <div id="viewPostCards" >
      <div class="container">
          <div class="row ">

            <% postData.forEach(function(post) { %>
              <% const post_id = post._id.toString()%>
              <% if(post._id) { %>
                  <div class="col-sm-4 viewPostCard my-4">
                      <a href='/update?id=<%=post_id%>'>
                          <div class="card viewPostCard h-100">
          
                              <% if(post.hasOwnProperty("blogImageName")) { %>
                                  <img class="card-img-top" src=<%"/data/uploads/"+post.blogImageName %> alt="Card image cap">
                              <% } else { %>
                                  <img class="card-img-top" src="/default-image.jpg" alt="Default image">
                              <% } %>
          
                              <div class="card-body">
                                  <h5 class="card-title"><%= post.postTitle %></h5>
                                  <p class="card-text"><%= post.Author %></p>
                                  <p class="card-text"><%= post.PostContent.substring(0, 100) %>...</p> <!-- Displaying a shortened version of PostContent -->
                              </div>
                          </div>
                      </a>
                  </div>
              <% } %>
          <% }); %>
          
  
          </div>

        </div>

    </div>
    <%- include("./partials/footer.ejs") %>