<%- include("./partials/header.ejs") %>



    <div id="viewPostCards ">
        <div class="container">
            <div class="row">
                <% for(var i=0;i<postData.length;i++) { %>
                    <% if(postData[i].hasOwnProperty('key')){ %>
                       
                            <a href="/post?key=<%= postData[i].key %>">
                                <div class="card " >
    
                                    <% if(postData[i].hasOwnProperty("blogImageName")){ %>
    
                                        <img  src="/data/uploads/<%=postData[i].blogImageName%>"
                                            alt="Card image cap">
                                        <% } %>
                                            <div class="card-body">
                                                <p class="card-text">
                                                    <%= postData[i].postTitle %>
                                                </p>
                                            </div>
                                </div>
                            </a>
                       
    
                        <% } %>
    
                            <% } %>
    
            </div>

        </div>

    </div>


    <%- include("./partials/footer.ejs") %>