<%- include("./partials/header.ejs") %>



  <!-- <h1>Posts :</h1>
    <ul>
        <%# for(var i=0;i<postData.length;i++) { %>
            <%# if(postData[i].hasOwnProperty('key')){ %>
                <ul>
                    <a href="/post?key=<%#= postData[i].key %>">
                        <%#= postData[i].key %>
                            <%#= postData[i].postTitle %>
                    </a>
                </ul>
                <%# } %>
           <%# } %>
    </ul> -->
    <div id="viewPostCards" >
      <div class="container">
          <div class="row ">
         
      <% for(var i=0;i<postData.length;i++) { %>
        <% if(postData[i].hasOwnProperty('key')){ %>
          <div class="col-sm-4 viewPostCard my-4">
            <a href="/post?key=<%= postData[i].key %>" >
              <div class="card viewPostCard h-100 ">

                <% if(postData[i].hasOwnProperty("blogImageName")){ %>

                  <img class="card-img-top" src="/data/uploads/<%=postData[i].blogImageName%>" alt="Card image cap">
                  <% } %>
                    <div class="card-body">
                      <p class="card-text">
                        <%= postData[i].postTitle %>
                      </p>
                    </div>

              </div>

            </a>
          </div>

          <% } %>
            <% } %>

  
          </div>

        </div>

    </div>

  <%- include("./partials/footer.ejs") %>